.flex-container {
    display: flex;
    height: 100%
}

.main-content {
    flex: 1;
    border: 2px solid firebrick;
}


.left-panel {
    flex: 0.5;
    position: relative;
    display: flex;
}

.left-panel img {
    max-width: 100%;
    opacity: 0.5;
    position: relative;
}

.odin-logo-container {
    background: black;
    min-width: 100%;
    height: 40px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}



