
body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    height: 100%
}

.main-content {
    flex: 1;
    padding: 50px 0 200px 0;
}


.left-panel {
    flex: 0.5;
    position: relative;
    display: flex;
}

.left-panel img {
    max-width: 100%;
    position: relative;
}

.odin-logo-container {
    background: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    height: 6em;
    position: absolute;
    z-index: 3;
    top: 10em;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0 ;
}

.odin-logo-container img {
    max-height: 100%;
}

.odin-label {
    color: white;
    font-size: 4em;
    font-family: 'Norse';
    opacity: 1;
}

p,
legend,
fieldset,
button {
    margin-left: 64px;
}



div.credit {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    max-height: fit-content;
    width: fit-content;
    color: white;
    z-index: 2;
    margin-inline: auto;
    font-size: 10px;
}

.intro {
    font-weight: bold;
}

form {
    margin-top: 2rem;
}

fieldset {
    border: none;
    padding: 0px;
    /* box-shadow: grey 2px 2px 9px;*/
}


button,
input,
select,
textarea,
legend {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
    width: 200px;
}

legend {
    margin: 40px 0 40px 0;
    padding: 0px;
}



.form-column {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
}

.input-container .form-column:nth-child(2) {
    margin-left: 80px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #596D48;
  
    border: none;
    border-radius: 5px;
  
    padding: 10px 40px;
    cursor: pointer;
    margin: 20px 0 40px 64px;
    width: fit-content;
}

.form-column input {
    margin-bottom: 30px;
}

.form-column input {
    border-color: #E5E7EB;
    border-radius: 3px;
}

.form-column input:focus {
    border-color: 2px solid blue;
    box-shadow: blue 2px 2px;
}

.form-column input[type=password]:invalid,
.form-column input[type=password]:user-invalid {
    border: 2px solid firebrick;
}

label {
    font-size: 12px;
}

a {
    color: white;
}

p > a {
    text-decoration: none;
    color: #596D48;
}

p.login {
    margin-top: 40px;
}

.intro p, legend {
    font-size: 18px;
}

.intro p {
    margin-right: 30px;
}
input:not(:focus) {
    border-color: rgba(128, 128, 128, 0.2)
}

form {
    box-shadow: 0px 2px 6px -4px black; /*rgba(0, 0, 0, 0.2);*/
    width: 100%;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}